@import "styles/shared.scss";

.Filter {
  margin-top: 40px;
}

.Filter__contacts-title {
  font-size: 44px;
  text-align: center;
  margin: 0;
}

.Filter__title {
  font-size: 25px;
  text-align: center;
  margin: 0;
}

.Filter__input {
  margin-top: 10px;
  width: 300px;
  height: 50px;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  font-size: 26px;
}
